# KNN

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [2]:
dataset = pd.read_csv("/Users/yik-cheunglau/OneDrive - Washington University in St. Louis/Leetcode Algorithm/Machine Learning Algorithm/KNN/Smarket.csv")
dataset.head(5)

,Unnamed: 0,Year,Lag1,Lag2,Lag3,Lag4,Lag5,Volume,Today,Direction
0,1,2001,0.381,-0.192,-2.624,-1.055,5.010,1.1913,0.959,Up
1,2,2001,0.959,0.381,-0.192,-2.624,-1.055,1.2965,1.032,Up
2,3,2001,1.032,0.959,0.381,-0.192,-2.624,1.4112,-0.623,Down
3,4,2001,-0.623,1.032,0.959,0.381,-0.192,1.2760,0.614,Up
4,5,2001,0.614,-0.623,1.032,0.959,0.381,1.2057,0.213,Up

### Split Training and Testing dataset

In [3]:
train_X = np.array(dataset[dataset["Year"] < 2005][["Lag1", "Lag2"]])
test_X = np.array(dataset[dataset["Year"] >= 2005][["Lag1", "Lag2"]])

train_y = np.array(dataset[dataset["Year"] < 2005][["Direction"]])
test_y = np.array(dataset[dataset["Year"] >= 2005][["Direction"]])

In [7]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(train_X, train_y)

/var/folders/gp/_py4y2hd3m9b7xl31prsn_tc0000gn/T/ipykernel_19473/2840977400.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  knn.fit(train_X, train_y)

KNeighborsClassifier(n_neighbors=3)

### Prediction

In [8]:
predicted = knn.predict(test_X)

In [9]:
print(classification_report(test_y, predicted))
print("Accuarcy is:", str(round(accuracy_score(test_y, predicted),4)*100)+"%")

              precision    recall  f1-score   support

        Down       0.47      0.43      0.45       111
          Up       0.58      0.61      0.59       141

    accuracy                           0.53       252
   macro avg       0.52      0.52      0.52       252
weighted avg       0.53      0.53      0.53       252

Accuarcy is: 53.169999999999995%